name: Metrics 16 Personalities
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run on every push on the master branch
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: NOT_NEEDED
          filename: metrics.plugin.16personalities.svg
          base: ""
          plugin_16personalities: yes
          plugin_16personalities_url: https://www.16personalities.com/profiles/80d43033fcca0
          plugin_16personalities_sections: personality, traits, principles
